<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.daylightingsociety.wherearetheeyes">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HelpActivity">
            <intent-filter>
                <action android:name="android.intent.action.HELP" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />
            </intent-filter>
        </activity>

        <activity android:name=".LeaderboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.LEADERBOARD" />
            </intent-filter>
        </activity>

    </application>
</manifest>