@charset "utf-8";

html {
	overflow-y: scroll;
}

body {
	width:100%;
	height:100%;
	padding: 0px;
	margin: 0px;
	background-color: #ffffff; /* Controls background / side color */
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position:absolute;
}

.header {
	height: 40px;
	background-color: #ffffff; /* Controls navbar color */
	margin-bottom: 0px;
	padding: 0px;
}
hr {
	padding-bottom: 0px;
	margin-bottom: 0px; 
}
.header_wrapper {
	/*background-color: #28C3C0;*/
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	font-size: 25px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #94948c;
	word-spacing: 30px;
	margin-top: 1em;
}
.header_wrapper a:hover {
	color: #64645c;
}
#main_head {
	word-spacing: 12px;
	display: inline;
	font-weight: bold;
	color: #000000;
	font-size: 30px;
}

a {
	color: inherit;
	text-decoration: inherit;
}

/* Affects main content on every page */
.stage {
	/*height: auto !important;*/
	margin-bottom: 20px;
	min-height: 100%;
	margin-top:0px;
	margin-left: 25px;
	margin-right: 25px;
	padding:0px;
	background-color: #FFFFFF;
	position:relative; /* Needed to keep footer centered */
}
.stage hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.panel {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	padding-right: 5px;
}
.panel a {
	color: #0069d6;
}
.panel a:hover {
	color: #0050a3;
	text-decoration: underline;
}

/* Makes text big and shiny */
.biginfo {
	font-size: 25px;
	line-height: 25px;
	font-weight: 400;
	text-align: center;
	width: 80%;
	padding-top: 15px;
	margin: auto;
}

.footer, .stage:after {
	height: 20px;
}

.footer {
	/*
	text-align:center;
	margin: auto;
	font-size:12px;
	position:absolute;
	bottom:0px;
	width:100%;
	height:50px; 
	*/
  padding: 1rem;
  text-align: center;
}

.footer a {
	color: #446D6D;
}

#map {
	position:absolute; 
	top:0; 
	bottom:0; 
	padding:0;
	width:100%;
}
