<div class="panel">
<h2>Downloads Page</h2>
<p>Where are the Eyes is currently available for <a href="/downloads/android">Android here,</a> and <a href="/downloads/ios">iOS here.</a> It is also available on the <a href="/downloads/f-droid">Android F-Droid store</a>. You can view the code <a href="https://github.com/DaylightingSociety/WhereAreTheEyes">on GitHub here.</a></p>

<br />

<a href='/downloads/android'><img alt='Get it on Google Play' src='/images/play_store.png' width=130px /></a><a href="/downloads/f-droid"><img alt='Get it on F-Droid' src="/images/f-droid.png" width=130px /></a><a href="/downloads/ios"><img alt='Get it on App Store' src='/images/app_store.svg' width=130px /></a>

<img src="images/camera_tower.png" style="float:right;">

<br />
<small>Google Play and the Google Play logo are trademarks of Google Inc.</small>
<br />
<small>Apple, and the App Store logo, are trademarks of Apple Inc. App Store is a service mark of Apple Inc. IOS is a trademark or registered trademark of Cisco in the U.S. and other countries and is used under license.</small>

</div>
