<div class="panel">
<h2>Downloads Page</h2>
<p>Where are the Eyes is currently available for <a href="/downloads/android">Android here,</a> and <a href="/downloads/ios">iOS here.</a> You can view the code <a href="https://github.com/DaylightingSociety/WhereAreTheEyes">on GitHub here.</a></p>

<br />

<a href='https://play.google.com/store/apps/details?id=org.daylightingsociety.wherearetheeyes&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='/images/play_store.png' width=130px /></a><a href="/downloads/ios"><img alt='Get it on App Store' src='/images/app_store.svg' width=130px /></a>

<img src="images/camera_tower.png" style="float:right;">

<br />
<small>Google Play and the Google Play logo are trademarks of Google Inc.</small>
<br />
<small>Apple, and the App Store logo, are trademarks of Apple Inc. App Store is a service mark of Apple Inc. IOS is a trademark or registered trademark of Cisco in the U.S. and other countries and is used under license.</small>

</div>
