<link href="/styles/gallery.css" rel="stylesheet" type="text/css">
<div class="panel">
<h1>Screenshots, signage, and propaganda</h1>

<h2>Screenshots</h2>

<div class="gallery-row">

	<div class="gallery">
		<a target="_blank" href="images/screenshot_iphone.jpg">
			<img src="images/screenshot_iphone.jpg" alt="iPhone Screenshot" width="300" height="300">
		</a>
		<div id="desc">iOS Screenshot</div>
	</div>

	<div class="gallery">
		<a target="_blank" href="images/screenshot_android_phone.jpg">
			<img src="images/screenshot_android_phone.jpg" alt="Android Screenshot" width="300" height="300">
		</a>
		<div id="desc">Android Screenshot</div>
	</div>

</div>

<h2 id="posters">Posters</h2>

<div class="gallery-row">
	<div class="gallery">
		<a target="_blank" href="images/gray_camera_sight.png">
			<img src="images/gray_camera_sight.png" alt="Gray Camera Sight" width="300" height="300">
		</a>
		<div id="desc">Gray Camera Sight</div>
	</div>
</div>

<div class="gallery-row">
	<div class="gallery">
		<a target="_blank" href="images/red_camera_sight.png">
			<img src="images/red_camera_sight.png" alt="Red Camera Sight" width="300" height="300">
		</a>
		<div id="desc">Red Camera Sight</div>
	</div>
</div>

<div class="gallery-row">
	<div class="gallery">
		<a target="_blank" href="images/is_this_privacy.png">
			<img src="images/is_this_privacy.png" alt="Is this Privacy?" width="300" height="300">
		</a>
		<div id="desc">Is this Privacy?</div>
	</div>
</div>

<div class="gallery-row">
	<div class="gallery">
		<a target="_blank" href="images/pentagram.png">
			<img src="images/pentagram.png" alt="Pentagram" width="300" height="300">
		</a>
		<div id="desc">Pentagram</div>
	</div>
</div>


<div class="gallery-row">
	<div class="gallery">
		<a target="_blank" href="images/big_brother.png">
			<img src="images/big_brother.png" alt="Big Brother" width="300" height="300">
		</a>
		<div id="desc">Big Brother</div>
	</div>
</div>

<div class="gallery-row">
	<div class="gallery">
		<a target="_blank" href="images/watched.png">
			<img src="images/watched.png" alt="You are being watched" width="300" height="300">
		</a>
		<div id="desc">Watched</div>
	</div>
</div>

<div class="gallery-row">
	<div class="gallery">
		<a target="_blank" href="images/see_you.png">
			<img src="images/see_you.png" alt="Don't let them see you" width="300" height="300">
		</a>
		<div id="desc">See You</div>
	</div>
</div>

<div class="gallery-row">
	<div class="gallery">
		<a target="_blank" href="images/winged_poster.png">
			<img src="images/winged_poster.png" alt="Winged Poster" width="300" height="300">
		</a>
		<div id="desc">Huginn</div>
	</div>
</div>

<div class="gallery-row">
	<div class="gallery">
		<a target="_blank" href="images/eye_in_camera.png">
			<img src="images/eye_in_camera.png" alt="Eye in Camera" width="300" height="300">
		</a>
		<div id="desc">Camera Pyramid</div>
	</div>
</div>

</div>
