<link href="/styles/markdown.css" rel="stylesheet" type="text/css">
<div class="panel">
<div class="markdown">
<h2>All public GPS data</h2>
<p>The data files below are provided under <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal</a>, releasing them to the public domain to the furthest extent permitted by law. The data was submitted by the public, so it belongs to the public.</p><br />
<p><a href="/rawdata/newest">Newest Data</a><br></p>
<p>
<% for file in files %>
	<a href="<%= datadir %>/<%= file %>"><%= file %></a><br>	
<% end %>
</p>
</div>
</div>
