<div class="panel">
<center><h3>Your account has been created.</h3></center>
<p>You may now enter your chosen username in the mobile app.</p>
<p>Please mark the locations of surveillance cameras you pass. This will add new cameras to the map, and verify that current cameras still exist.</p>
</div>
