<div class="panel">
<p>We apologize, but registration is not currently enabled. Later you will be able to make an account here to place flags on cameras you find, and have those flags appear on everyone's maps.</p>
</div>
