<div class="panel">
<span style="overflow:hidden;">
<span style="display:inline-block; float:left; width=500px">
<h2>Welcome!</h2>
<p>Where are the Eyes is a program for detecting and mapping surveillance cameras. Users mark cameras on their phone as they walk past them, and build a shared global map of surveillance.</p>
<p>Our hope is that Where are the Eyes will be widely adopted and used to help activists in two ways: to increase awareness of surveillance and authoritarian practices, and to plan activist movements.</p>
<p><a href="/downloads">Download the client</a> (for iOS and Android) and follow the instructions on the help screen to join in!</p>
</span>
<span style="display:inline-block; float:right;">
<!-- <img style="position: relative; left: 670px;" src="images/camera_logo.png"> -->
<img src="images/camera_logo.png">
</span>
</span>
<br>
<h3>Recent Status Updates</h3>
<hr>
<%= text %>
<center><p><a href="/archive">View older posts</a></p></center>
</div>
