<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Account Options</string>
			<key>FooterText</key>
			<string>Please register a username at eyes.daylightingsociety.org and enter it above</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>username_preference</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>UI Options</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Confirm marking cameras</string>
			<key>Key</key>
			<string>confirm_marking_cameras</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show score</string>
			<key>Key</key>
			<string>show_score</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Map Theme</string>
			<key>Key</key>
			<string>theme</string>
			<key>DefaultValue</key>
			<string>light</string>
			<key>Titles</key>
			<array>
				<string>Light</string>
				<string>Dark</string>
				<string>Streets</string>
				<string>Satellite</string>
			</array>
			<key>Values</key>
			<array>
				<string>light</string>
				<string>dark</string>
				<string>streets</string>
				<string>satellite</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Track</string>
			<key>Key</key>
			<string>track</string>
			<key>DefaultValue</key>
			<string>position</string>
			<key>Values</key>
			<array>
				<string>position</string>
				<string>direction</string>
				<string>movement</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Position</string>
				<string>Direction</string>
				<string>Movement</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Privacy Settings</string>
			<key>FooterText</key>
			<string>This setting allows the application to share anonymized location and usage data with Mapbox. We are required to enable metrics by default.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Mapbox Metrics</string>
			<key>Key</key>
			<string>MGLMapboxMetricsEnabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
